<mat-selection-list [multiple]="false">
  <mat-list-option routerLink="/feed">
    <div>
      <mat-icon aria-hidden="false" aria-label="Example home icon" id="feed">home</mat-icon>
      Feed
    </div>
  </mat-list-option>

  <mat-list-option routerLink="/postList">
    <div>
      <mat-icon aria-hidden="false" aria-label="Example home icon" id="postList">home</mat-icon>
      Posts
    </div>
  </mat-list-option>

  <mat-list-option routerLink="/events">
    <div>
      <mat-icon aria-hidden="false" aria-label="Example home icon" id="events">home</mat-icon>
      Events
    </div>
  </mat-list-option>

  <mat-list-option routerLink="/collections">
    <div>
      <mat-icon aria-hidden="false" aria-label="Example home icon" id="collections">home</mat-icon>
      Collections
    </div>
  </mat-list-option>

  <mat-list-option routerLink="/users">
    <div>
      <mat-icon aria-hidden="false" aria-label="Example home icon" id="users">home</mat-icon>
      Users
    </div>
  </mat-list-option>
</mat-selection-list>
