<mat-card class="example-card" (click)="goToView()">
  <mat-card-header>


    <div mat-card-avatar class="example-header-image"
         style="background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg')"></div>
    <mat-card-title>{{webActivity.title}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{webActivity.media}}" alt="">
  <mat-card-content>
    <p>
      {{webActivity.content}}
    </p>
  </mat-card-content>
  <mat-card-actions>
   <!-- <button mat-button>👍({{webActivity.likeCount}})</button>-->
  </mat-card-actions>
</mat-card>
