.example-card {
  max-width: 60%;
  padding: 30px;
  background-color: #eaeaea;
  margin-left: 20%;
  margin-top: 20px;
}
img{
  max-height: 240px;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10%;
}
.example-header-image {
  background-size: cover;
}
