
<form [formGroup]="user" (ngSubmit)="signup()">
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Username:</mat-label>
        <input matInput formControlName="username" type="text" required="true" minlength="4" id="username">
      </mat-form-field>
      <span *ngIf="user.controls.username.value.length<4 && user.controls.username.dirty">
        user name must be longer than 4
      </span>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>First name: </mat-label>
        <input matInput formControlName="firstName" type="text" required="true">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Last name:</mat-label>
        <input matInput formControlName="lastName" type="text" required="true">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Email:      </mat-label>
        <input matInput formControlName="email" type="email" required="true">
      </mat-form-field>

      <span *ngIf="user.controls.email.invalid && user.controls.email.dirty">
        email address is invalid
      </span>
    </div>
    <div>
      <mat-form-field class="example-full-width">
      <mat-label>Password:</mat-label>
        <input matInput formControlName="password" type="password" required="true">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-full-width">
      <mat-label>Re-enter Password:</mat-label>
        <input matInput formControlName="reEnterPassword"type="password" required="required">
      </mat-form-field>
      <span *ngIf="!matchPasswords()">
        passwords does not match
      </span>
    </div>
    <button mat-raised-button color="primary" type="submit" [disabled]="!user.valid || !matchPasswords()">Submit</button>
  </form>
