<button mat-stroked-button color="primary"(click)="createPost()" id="createPostButton">Create new Post!</button>
<!--  <mat-form-field>
    <input matInput type="text" [(ngModel)]="search" placeholder="Search a post" />
  </mat-form-field>-->
<div class="flexHeader">
  <h3>Posts</h3>
  <button mat-raised-button color="primary" routerLink="/neweditpost" id="newPostBtn">New Post</button>
</div>

<div class="flexGrid">
  <mat-form-field>
    <input matInput type="text" [(ngModel)]="search" placeholder="Search a post" />
  </mat-form-field>
<!--
  <mat-card class="example-card" *ngFor="let post of posts | postFilter: search">
    <app-post [post]="post" (postClicked)="editPost($event)"></app-post>
  </mat-card>
-->
</div>

<table mat-table [dataSource]="posts | postFilter: search" >
   <ng-container matColumnDef="title">
     <th mat-header-cell *matHeaderCellDef> Title </th>
     <td mat-cell *matCellDef="let post"> {{post.title}}</td>
   </ng-container>
   <ng-container matColumnDef="createdDate">
     <th mat-header-cell *matHeaderCellDef> Last Update </th>
     <td mat-cell *matCellDef="let post"> {{timeForTable(post.createdDate)}}</td>
   </ng-container>
   <ng-container matColumnDef="likeCount">
     <th mat-header-cell *matHeaderCellDef> Likes! </th>
     <td mat-cell *matCellDef="let post"> {{post.likeCount}}👍</td>
   </ng-container>
   <ng-container matColumnDef="status">
     <th mat-header-cell *matHeaderCellDef> Status</th>
     <td mat-cell *matCellDef="let post"> {{post.status}}</td>
   </ng-container>
   <ng-container matColumnDef="edit">
     <th mat-header-cell *matHeaderCellDef> </th>
     <td mat-cell *matCellDef="let post">
       <button mat-stroked-button color="primary" (click)="editPost(post)" class="edit-button">Edit</button>
       <button mat-stroked-button color="primary" (click)="viewPost(post)" class="view-button">View</button>
       <button mat-stroked-button color="primary" (click)="deletePost(post)" class="delete-button">Delete</button>
     </td>
   </ng-container>
   <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 </table>

