.example-spacer {
  flex: 1000 1000  auto;
}

.container {
  display: flex;
  height: auto;
}

.sidenav {
  flex: 1;
  border: 1px solid #b0b0b0;
}

.content {
  flex: 4;
  border: 1px solid #b0b0b0;
}
