<form [formGroup]="post"  class="edit-post">
  <mat-form-field class="example-full-width">
    <mat-label>Title</mat-label>
    <input id="postTitle" matInput formControlName="title" [(ngModel)]="editablePost.title"/>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Text</mat-label>
    <textarea id="postContent" matInput formControlName="content" [(ngModel)]="editablePost.content"></textarea>
  </mat-form-field>
  <div> <!--add media, not functional yet-->
    <button  mat-raised-button (click)="openDialog('photos')"  color="primary">Photo(s)</button>
    <button mat-raised-button (click)="openDialog('Video')" color="primary">Video</button>
    <button mat-raised-button (click)="openDialog('Podcast')" color="primary">Podcast</button>
  </div>
  <mat-label>Select Collection</mat-label>
  <mat-select> <!--choose from collections need to be implemented-->
    <mat-option value="one">First Collection</mat-option>
    <mat-option value="two">Second Collection</mat-option>
  </mat-select>
  <!--test-->
  <span></span>

  <button type="submit" *ngIf="toCreate" [disabled]="!post.controls.title.dirty || !post.controls.content.dirty" mat-raised-button color="primary" id="create-post-button" (click)="onSubmitCreate()">Save</button>
  <button type="submit" *ngIf="!toCreate" mat-raised-button (click)="onSubmitUpdate()" color="primary">Update</button>
</form>

<!--<mat-form-field class="example-full-width">
  <mat-label>picture</mat-label>
  <input type="file" id="pictureUploaded" matInput formControlName="picture" />
</mat-form-field>-->
