<mat-selection-list [multiple]="false">
  <mat-list-option routerLink="/posts">
    <div>
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      Posts
    </div>
  </mat-list-option>

  <mat-list-option routerLink="/events">
    <div>
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      Events
    </div>
  </mat-list-option>

  <mat-list-option routerLink="/collections">
    <div>
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      collections
    </div>
  </mat-list-option>
</mat-selection-list>
